In [1]:
# import libaries
import geopandas as gpd
import pandas as pd
import json
import numpy as np
from sqlalchemy import create_engine
import time
from datetime import date, timedelta
from rl_v2g import CarsharingEnv
import math
import stable_baselines3
from stable_baselines3 import PPO
from gym.utils.env_checker import check_env as checker_gym
from stable_baselines3.common.env_checker import check_env as checker_baselines3

# load the database credentials from the JSON file
with open('config/credentials.json') as f:
    credentials = json.load(f)

# create connection string
connection_string = f"postgresql://{credentials['username']}:{credentials['password']}@{credentials['host']}:{credentials['port']}/{credentials['database_name']}"

# create the engine with the connection string
engine = create_engine(connection_string)

C:\Users\domin\anaconda3\envs\simulation_car_sharing\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

# Application of Car-sharing Simulation Environment

Choose the timespan for the simulation. The simulation will be executed chronologically, starting from the first day (2019-1-1) and continuing for subsequent days (2019-1-2, 2019-1-3, etc.). If a start date other than 2019-1-1 is selected, the "Start simulation" cell below may need to be modified.

In [2]:
# set simulation period
start_date = date(2019, 1, 1)
end_date = date(2019, 1, 3)

# calculate number of days to simulate
nr_iterations = (end_date - start_date).days

# Load data for simulation

### Car-sharing stations

In [3]:
# get station geodata, create spatial index
sql = " SELECT * FROM msc_2023_dominik.distinct_stations"
stations = gpd.read_postgis(sql, engine, geom_col='geom',crs = "EPSG:2056")
stations.sindex
stations.head()

   station_no                             geom
0        2901  POINT (2555501.836 1145060.068)
1        2905  POINT (2752963.411 1260089.916)
2        2910  POINT (2501877.645 1126218.900)
3        2913  POINT (2682234.096 1243208.370)
4        2918  POINT (2736874.744 1253090.505)

### Vehicle information

In [4]:
# get vehicle data
sql = "SELECT * FROM msc_2023_dominik.vehicle_information ORDER BY vehicle_no"
vehicles = pd.read_sql(sql, engine)
vehicles.head()

,index,vehicle_category,vehicle_no,model_name,brand_name,charge_power,battery_capacity,range
0,2962,Minivan,106516,eVito 129KB Tourer Pro 3200,Mercedes-Benz,11.0,100.0,378.0
1,2963,Minivan,106517,eVito 129KB Tourer Pro 3200,Mercedes-Benz,11.0,100.0,378.0
2,2964,Minivan,106518,eVito 129KB Tourer Pro 3200,Mercedes-Benz,11.0,100.0,378.0
3,2965,Minivan,106519,eVito 129KB Tourer Pro 3200,Mercedes-Benz,11.0,100.0,378.0
4,2966,Combi,106526,Enyaq iV80,Skoda,11.0,82.0,420.0

### Reservations

In [5]:
# get daily reservations, save in dict for fast data access
delta = timedelta(days=1)
reservations_dict = {}
start_date_reservations = start_date
while start_date_reservations <= end_date:
    sql = """SELECT reservation_no, start_station_no, vehicle_no, reservationfrom_time_discrete, drive_firststart_time_discrete, 
            drive_lastend_time_discrete, reservation_duration, revenue_distance, required_soc, revenue_duration, drive_km, 
            (floor(EXTRACT(epoch FROM (date_trunc('hour', TO_TIMESTAMP(drive_lastend, 'YYYY-MM-DD HH24:MI:SS.MS')) + 
                                floor(EXTRACT(minute FROM TO_TIMESTAMP(drive_lastend, 'YYYY-MM-DD HH24:MI:SS.MS')) / 15) * interval '15 minutes' 
                                - date_trunc('hour', TO_TIMESTAMP(drive_firststart, 'YYYY-MM-DD HH24:MI:SS.MS')) - 
                                floor(EXTRACT(minute FROM TO_TIMESTAMP(drive_firststart, 'YYYY-MM-DD HH24:MI:SS.MS')) / 15) * interval '15 minutes'
                               )) / 900) * 900 + 900) / 900 AS drive_duration
            FROM msc_2023_dominik.reservations_long_time 
            WHERE  DATE(reservationfrom_discrete_date) = '{}' or  DATE(drive_firststart_discrete_date) = '{}' 
            ORDER BY reservationfrom_discrete""".format(start_date_reservations, start_date_reservations)
    reservations = pd.read_sql(sql, engine)
    reservations_dict[start_date_reservations.strftime('%Y-%m-%d')] = reservations
    start_date_reservations += delta
reservations_dict[(start_date).strftime('%Y-%m-%d')].head()

,reservation_no,start_station_no,vehicle_no,reservationfrom_time_discrete,drive_firststart_time_discrete,drive_lastend_time_discrete,reservation_duration,revenue_distance,required_soc,revenue_duration,drive_km,drive_duration
0,24519192,2886,114874,0.0,0.0,4.0,6.0,10.50,5.384615,5.25,14.0,4.0
1,24519174,1557,115969,0.0,0.0,49.0,50.0,45.75,30.500000,43.75,61.0,50.0
2,24514447,2702,114871,0.0,4.0,5.0,6.0,2.66,1.538462,7.50,4.0,2.0
3,24519221,3165,116525,0.0,0.0,96.0,96.0,0.00,0.000000,0.00,0.0,97.0
4,24519097,4407,113833,0.0,2.0,9.0,10.0,13.00,10.000000,6.25,20.0,7.0

### Electicity prices for charging

In [6]:
# get charging costs data
prices = ""
for i in range(0, 480, 5):
    price = i / 20
    prices += '"Price_chf_kwh_{}", '.format(price)

sql = """SELECT {} "Delivery day" FROM msc_2023_dominik.charging_costs WHERE "Delivery day" >=  '{}' and "Delivery day" <=  '{}' ORDER BY "Delivery day" """.format(prices, start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'))

charging_costs = pd.read_sql(sql, engine)
charging_costs.head()

,Price_chf_kwh_0.0,Price_chf_kwh_0.25,Price_chf_kwh_0.5,Price_chf_kwh_0.75,Price_chf_kwh_1.0,Price_chf_kwh_1.25,Price_chf_kwh_1.5,Price_chf_kwh_1.75,Price_chf_kwh_2.0,Price_chf_kwh_2.25,...,Price_chf_kwh_21.75,Price_chf_kwh_22.0,Price_chf_kwh_22.25,Price_chf_kwh_22.5,Price_chf_kwh_22.75,Price_chf_kwh_23.0,Price_chf_kwh_23.25,Price_chf_kwh_23.5,Price_chf_kwh_23.75,Delivery day
0,0.054160,0.054160,0.054160,0.054160,0.052522,0.052522,0.052522,0.052522,0.050906,0.050906,...,0.054634,0.059397,0.059397,0.059397,0.059397,0.059387,0.059387,0.059387,0.059387,2019-01-01
1,0.053848,0.053848,0.053848,0.053848,0.052436,0.052436,0.052436,0.052436,0.044785,0.044785,...,0.065669,0.064731,0.064731,0.064731,0.064731,0.063546,0.063546,0.063546,0.063546,2019-01-02
2,0.057145,0.057145,0.057145,0.057145,0.054419,0.054419,0.054419,0.054419,0.052070,0.052070,...,0.067910,0.065755,0.065755,0.065755,0.065755,0.061800,0.061800,0.061800,0.061800,2019-01-03

In [7]:
# save in dict for fast data access
delta = timedelta(days=1)
charging_costs_dict = {}
start_date_electricity = start_date
while start_date_electricity <= end_date:
    electricity_price_day = charging_costs[charging_costs["Delivery day"].dt.date == start_date_electricity].drop(["Delivery day"],axis = 1).iloc[0].values
    charging_costs_dict[start_date_electricity.strftime('%Y-%m-%d')] = electricity_price_day
    start_date_electricity += delta

### Secondary energy prices (for V2G)

In [8]:
# get v2g price data
sql = """SELECT "Timestamp", "Secondary_positive_v2g_prices_chf_kwh", "Secondary_negative_v2g_prices_chf_kwh" FROM msc_2023_dominik.v2g_prices WHERE "Timestamp" >=  '{}' and "Timestamp" <=  '{}' ORDER BY "Timestamp" """.format(start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'))
v2g_prices = pd.read_sql(sql, engine)
v2g_prices.head()

,Timestamp,Secondary_positive_v2g_prices_chf_kwh,Secondary_negative_v2g_prices_chf_kwh
0,2019-01-01 00:00:00,0.068370,0.045588
1,2019-01-01 00:15:00,0.068838,0.045896
2,2019-01-01 00:30:00,0.068838,0.045896
3,2019-01-01 00:45:00,0.068838,0.045896
4,2019-01-01 01:00:00,0.068838,0.045896

In [9]:
# save in dict for fast data access
delta = timedelta(days=1)
v2g_price_dict = {}
start_date_v2g = start_date
while start_date_v2g <= end_date:
    v2g_price_day_positive = v2g_prices[v2g_prices['Timestamp'].dt.date == pd.Timestamp(start_date_v2g).date()].drop(["Timestamp"],axis = 1)["Secondary_positive_v2g_prices_chf_kwh"].values
    v2g_price_day_negative = v2g_prices[v2g_prices['Timestamp'].dt.date == pd.Timestamp(start_date_v2g).date()].drop(["Timestamp"],axis = 1)["Secondary_negative_v2g_prices_chf_kwh"].values
    v2g_price_dict[start_date_v2g.strftime('%Y-%m-%d')] = [v2g_price_day_positive, v2g_price_day_negative]
    start_date_v2g += delta

# Check environment

In [10]:
# check support of GPU
stable_baselines3.common.utils.get_device(device='cuda')

device(type='cuda')

In [11]:
# check if enviornment fullfils requirements of gym and stable-baselines3

# load discrete table
sql =  "SELECT * FROM discrete.discrete_weeks_{} ORDER BY vehicle_no".format(0)
data = pd.read_sql(sql, engine)
    
# load discrete planned reservation table
sql =  "SELECT * FROM msc_2023_dominik.planned_reservations_discrete_{} ORDER BY vehicle_no".format(0)
planned_reservations = pd.read_sql(sql, engine)
    
# load discrete planned reservation duration table
sql =  "SELECT * FROM msc_2023_dominik.planned_durations_discrete_{} ORDER BY vehicle_no".format(0)
planned_durations = pd.read_sql(sql, engine)
end = time.time()

# get number of vehicles
nr_vehicles = len(vehicles)

# maximal simulation length
if nr_iterations > 577:
    nr_iterations = 577
    
count = 0
# iterate over weeks (for loading weekly discrete data)
for week_nr in range(0, 1):
    # iteration for each day
    for day in range(98,99,96):
        
        # calculate number of timesteps since first day of simulation
        timesteps_since_start = count * 96
        
        # all requested days are simulated
        if count == nr_iterations:
            break
            
        # get date
        date_day = pd.to_datetime(data.columns[day-97]).date()
        date_day_string = date_day.strftime('%Y-%m-%d')
        
        # load reservations
        reservations = reservations_dict[date_day_string]
        
        # load electricity prices for charging
        electricity_price = charging_costs_dict[date_day_string]
        
        # load secondary energy prices for v2g
        v2g_price = v2g_price_dict[date_day_string]
    
        # select discrete data of day
        daily_data = data.iloc[:,day-97:day-1]
        planned_reservations_day = planned_reservations.iloc[:,day-97 + 1:day + 1] 
        planned_durations_day = planned_durations.iloc[:,day-97 + 1:day + 1] 
        
        # create environment
        env = CarsharingEnv(stations, vehicles, planned_bookings = True, v2g_penalty = 10000, penalty_per_kwh = 0, daily_data = daily_data, reservations = reservations,
                           electricity_price = electricity_price, timesteps_since_start = timesteps_since_start, v2g_price = v2g_price, planned_reservations = planned_reservations_day,
                           planned_durations = planned_durations_day)
        
        # check implementation 
        checker_gym(env)
        checker_baselines3(env)
        # count number of simulated days
        count += 1

Reset environment to timestamp:  0
Timestep:  0  Reward:  -142.7447523068973  CHF
Reset environment to timestamp:  0
Timestep:  0  Reward:  -143.59568092083157  CHF
Timestep:  1  Reward:  67.87206167943049  CHF
Timestep:  2  Reward:  133.24970879047427  CHF
Timestep:  3  Reward:  105.24589797241201  CHF
Timestep:  4  Reward:  122.77695957267933  CHF
Timestep:  5  Reward:  207.418854455931  CHF
Timestep:  6  Reward:  57.617253152360405  CHF
Timestep:  7  Reward:  76.4392001731047  CHF
Timestep:  8  Reward:  -54.62994236507963  CHF
Timestep:  9  Reward:  -87.69522586083038  CHF
Timestep:  10  Reward:  7.534486072178765  CHF
Reset environment to timestamp:  0
Timestep:  0  Reward:  -141.8036776281723  CHF
Timestep:  1  Reward:  68.41003420764895  CHF
Timestep:  2  Reward:  126.23770483976426  CHF
Timestep:  3  Reward:  101.94183996053543  CHF
Timestep:  4  Reward:  115.62012001975681  CHF
Timestep:  5  Reward:  213.33320364969478  CHF
Timestep:  6  Reward:  54.812713240268906  CHF
Timestep:  7  Reward:  74.90233464293945  CHF
Timestep:  8  Reward:  -52.48419564582612  CHF
Timestep:  9  Reward:  -86.9985388331084  CHF
Timestep:  10  Reward:  2.719505906453776  CHF

# Train Agent

Start simulation by running the following cell:

In [ ]:
# get number of vehicles
nr_vehicles = len(vehicles)

# maximal simulation length
if nr_iterations > 577:
    nr_iterations = 577
    
count = 0
# iterate over weeks (for loading weekly discrete data)
for week_nr in range(0, math.ceil(nr_iterations / 7)):
    # load discrete car-sharing table
    sql =  "SELECT * FROM discrete.discrete_weeks_{} ORDER BY vehicle_no".format(week_nr)
    data = pd.read_sql(sql, engine)
    
    # load discrete planned reservation table
    sql =  "SELECT * FROM msc_2023_dominik.planned_reservations_discrete_{} ORDER BY vehicle_no".format(week_nr)
    planned_reservations = pd.read_sql(sql, engine)
    
    # load discrete planned reservation duration table
    sql =  "SELECT * FROM msc_2023_dominik.planned_durations_discrete_{} ORDER BY vehicle_no".format(week_nr)
    planned_durations = pd.read_sql(sql, engine)
        
    # iteration for each day
    for day in range(98,676,96):
        
        # calculate number of timesteps since first day of simulation
        timesteps_since_start = count * 96
        
        # measure calculation time of episode
        start = time.time()
        
        # all requested days are simulated
        if count == nr_iterations:
            break
            
        # get date
        date_day = pd.to_datetime(data.columns[day-97]).date()
        date_day_string = date_day.strftime('%Y-%m-%d')
        
        # load reservations
        reservations = reservations_dict[date_day_string]
        
        # load electricity prices for charging
        electricity_price = charging_costs_dict[date_day_string]
        
        # load secondary energy prices for v2g
        v2g_price = v2g_price_dict[date_day_string]
    
        # select discrete data of day
        daily_data = data.iloc[:,day-97:day-1]
        planned_reservations_day = planned_reservations.iloc[:,day-97 + 1:day + 1] 
        planned_durations_day = planned_durations.iloc[:,day-97 + 1:day + 1] 
        
        # reset environment at beginnning of simulation
        if count == 0:
            
            # create environment
            env = CarsharingEnv(stations, vehicles, planned_bookings = True, v2g_penalty = 10000, penalty_per_kwh = 0, daily_data = daily_data, reservations = reservations,
                           electricity_price = electricity_price, timesteps_since_start = timesteps_since_start, v2g_price = v2g_price, planned_reservations = planned_reservations_day,
                           planned_durations = planned_durations_day)
            
            # create RL model
            model = PPO("MlpPolicy",env, verbose=1, n_steps=95)
            
        else: 
            env.load_new_data(daily_data = daily_data, reservations = reservations,
                           electricity_price = electricity_price, timesteps_since_start = timesteps_since_start, v2g_price = v2g_price, planned_reservations = planned_reservations_day,
                           planned_durations = planned_durations_day)
            s = env.reset()
        # simulate day in 15 min steps
        done = False
        counter = 0
        
        # learn one episode
        model.learn(total_timesteps=95, reset_num_timesteps=False)
            
          
        end = time.time()
        print("")
        print("Total Episode Time: ", end-start)
        print("")
        count += 1

Reset environment to timestamp:  0
Using cuda device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.

C:\Users\domin\anaconda3\envs\simulation_car_sharing\lib\site-packages\stable_baselines3\ppo\ppo.py:148: UserWarning: You have specified a mini-batch size of 64, but because the `RolloutBuffer` is of size `n_steps * n_envs = 95`, after every 1 untruncated mini-batches, there will be a truncated mini-batch of size 31
We recommend using a `batch_size` that is a factor of `n_steps * n_envs`.
Info: (n_steps=95 and n_envs=1)
  warnings.warn(

Reset environment to timestamp:  0
Timestep:  0  Reward:  -142.52236610458573  CHF
Timestep:  1  Reward:  72.62455510384342  CHF
Timestep:  2  Reward:  133.3795585714949  CHF
Timestep:  3  Reward:  104.11928630223396  CHF
Timestep:  4  Reward:  125.28840374856962  CHF
Timestep:  5  Reward:  215.2065947442228  CHF
Timestep:  6  Reward:  56.28578238744501  CHF
Timestep:  7  Reward:  73.85166766804068  CHF
Timestep:  8  Reward:  -63.141327669622356  CHF
Timestep:  9  Reward:  -84.71748006216296  CHF
Timestep:  10  Reward:  1.4386568996248457  CHF
Timestep:  11  Reward:  -21.97728515556814  CHF
Timestep:  12  Reward:  202.30380252118348  CHF
Timestep:  13  Reward:  44.8502867978156  CHF
Timestep:  14  Reward:  44.08529778036197  CHF
Timestep:  15  Reward:  -25.156910255215568  CHF
Timestep:  16  Reward:  22.703099815567306  CHF
Timestep:  17  Reward:  48.84662324661718  CHF
Timestep:  18  Reward:  5.499006806320523  CHF
Timestep:  19  Reward:  -23.34547661236634  CHF
Timestep:  20  Reward:  -7.883015254761617  CHF
Timestep:  21  Reward:  70.97903506557572  CHF
Timestep:  22  Reward:  -23.3780695338913  CHF
Timestep:  23  Reward:  97.9481517609876  CHF
Timestep:  24  Reward:  550.859934469929  CHF
Timestep:  25  Reward:  609.9234683577091  CHF
Timestep:  26  Reward:  354.3667443090663  CHF
Timestep:  27  Reward:  834.0590763517941  CHF
Timestep:  28  Reward:  802.0337771232524  CHF
Timestep:  29  Reward:  1130.89272027568  CHF
Timestep:  30  Reward:  426.64299259766216  CHF
Timestep:  31  Reward:  724.2880377533106  CHF
Timestep:  32  Reward:  874.1854581473328  CHF
Timestep:  33  Reward:  1997.8297884389228  CHF
Timestep:  34  Reward:  790.4119717248814  CHF
Timestep:  35  Reward:  1879.1796568062166  CHF
Timestep:  36  Reward:  1189.1385111613795  CHF
Timestep:  37  Reward:  1362.77006494144  CHF
Timestep:  38  Reward:  1850.9765503865337  CHF
Timestep:  39  Reward:  2510.4238788662724  CHF
Timestep:  40  Reward:  1320.5950321095268  CHF
Timestep:  41  Reward:  2882.8281527025265  CHF
Timestep:  42  Reward:  1441.3366153393115  CHF
Timestep:  43  Reward:  2599.4401365408985  CHF
Timestep:  44  Reward:  2943.529621636045  CHF
Timestep:  45  Reward:  3152.3914203581517  CHF
Timestep:  46  Reward:  -8316.259161179569  CHF
Timestep:  47  Reward:  -6655.9371659393055  CHF
Timestep:  48  Reward:  -7026.463542309553  CHF
Timestep:  49  Reward:  -7908.761577389385  CHF
Timestep:  50  Reward:  -7943.523656815894  CHF
Timestep:  51  Reward:  -8017.507420934056  CHF
Timestep:  52  Reward:  -8079.914119194734  CHF
Timestep:  53  Reward:  -8490.78059081418  CHF
Timestep:  54  Reward:  -8263.989337699642  CHF
Timestep:  55  Reward:  -7961.666331635725  CHF
Timestep:  56  Reward:  -8929.919102974298  CHF
Timestep:  57  Reward:  -8471.102666358507  CHF
Timestep:  58  Reward:  1022.6747931672957  CHF
Timestep:  59  Reward:  1871.9201618236998  CHF
Timestep:  60  Reward:  994.9995135989017  CHF
Timestep:  61  Reward:  2359.814084584029  CHF
Timestep:  62  Reward:  1071.3710255303126  CHF
Timestep:  63  Reward:  1584.5513923059748  CHF
Timestep:  64  Reward:  1654.4118101513031  CHF
Timestep:  65  Reward:  1528.2564761009335  CHF
Timestep:  66  Reward:  1462.6293687206942  CHF
Timestep:  67  Reward:  985.1222588874327  CHF
Timestep:  68  Reward:  780.2694268617889  CHF
Timestep:  69  Reward:  749.6647867023131  CHF
Timestep:  70  Reward:  456.05767379645187  CHF
Timestep:  71  Reward:  573.8873436080398  CHF
Timestep:  72  Reward:  547.5189925489927  CHF
Timestep:  73  Reward:  301.7977873504558  CHF
Timestep:  74  Reward:  617.4444019921693  CHF
Timestep:  75  Reward:  834.4767285624903  CHF
Timestep:  76  Reward:  544.2991823110937  CHF
Timestep:  77  Reward:  598.1869306581049  CHF
Timestep:  78  Reward:  95.45936164340856  CHF
Timestep:  79  Reward:  285.0901081648523  CHF
Timestep:  80  Reward:  217.45521033447966  CHF
Timestep:  81  Reward:  52.93904074102088  CHF
Timestep:  82  Reward:  62.276879250756224  CHF
Timestep:  83  Reward:  119.16491675027522  CHF
Timestep:  84  Reward:  210.43589150525713  CHF
Timestep:  85  Reward:  153.3499035443619  CHF
Timestep:  86  Reward:  142.7103183535769  CHF
Timestep:  87  Reward:  265.2110567861333  CHF
Timestep:  88  Reward:  25.38257496557714  CHF
Timestep:  89  Reward:  78.63841535080209  CHF
Timestep:  90  Reward:  18.47520663090286  CHF
Timestep:  91  Reward:  112.29976302436572  CHF
Timestep:  92  Reward:  28.6303200562104  CHF
Timestep:  93  Reward:  26.747056672365716  CHF
Timestep:  94  Reward:  185.99495799098946  CHF
Reset environment to timestamp:  0
----------------------------------
| rollout/           |           |
|    ep_len_mean     | 95        |
|    ep_rew_mean     | -4.03e+04 |
| time/              |           |
|    fps             | 0         |
|    iterations      | 1         |
|    time_elapsed    | 228       |
|    total_timesteps | 95        |
----------------------------------

Total Episode Time:  283.66931772232056

Reset environment to timestamp:  96
Timestep:  96  Reward:  -99.60025790938612  CHF
Timestep:  97  Reward:  59.77751701040867  CHF
Timestep:  98  Reward:  228.32838810679993  CHF
Timestep:  99  Reward:  109.2815990762467  CHF
Timestep:  100  Reward:  59.70453034098625  CHF
Timestep:  101  Reward:  123.52422452902954  CHF
Timestep:  102  Reward:  62.13307644451669  CHF
Timestep:  103  Reward:  73.17917213902501  CHF
Timestep:  104  Reward:  97.11141793962884  CHF
Timestep:  105  Reward:  107.33112372095084  CHF
Timestep:  106  Reward:  78.26411058757856  CHF
Timestep:  107  Reward:  89.03192132442354  CHF
Timestep:  108  Reward:  86.0422552585855  CHF
Timestep:  109  Reward:  70.23202218431814  CHF
Timestep:  110  Reward:  82.699197853264  CHF
Timestep:  111  Reward:  133.45789480189825  CHF
Timestep:  112  Reward:  81.76848391253961  CHF
Timestep:  113  Reward:  76.9493953162362  CHF
Timestep:  114  Reward:  141.72306136130322  CHF
Timestep:  115  Reward:  115.67212531977748  CHF
Timestep:  116  Reward:  83.37148290171022  CHF
Timestep:  117  Reward:  259.2267120193203  CHF
Timestep:  118  Reward:  68.53623211157445  CHF
Timestep:  119  Reward:  400.9895367570765  CHF
Timestep:  120  Reward:  277.58409618379005  CHF
Timestep:  121  Reward:  370.9398151034856  CHF
Timestep:  122  Reward:  480.8292393641619  CHF
Timestep:  123  Reward:  775.4765719153052  CHF
Timestep:  124  Reward:  782.6565754360358  CHF
Timestep:  125  Reward:  1427.881025566334  CHF
Timestep:  126  Reward:  692.023749841392  CHF
Timestep:  127  Reward:  1198.115924824716  CHF
Timestep:  128  Reward:  545.9399041544567  CHF
Timestep:  129  Reward:  1177.4597418971869  CHF
Timestep:  130  Reward:  2295.460036029897  CHF
Timestep:  131  Reward:  2804.8802287699955  CHF
Timestep:  132  Reward:  1680.030058515376  CHF
Timestep:  133  Reward:  2697.3820176526715  CHF
Timestep:  134  Reward:  2200.485653205713  CHF
Timestep:  135  Reward:  3763.994417090927  CHF
Timestep:  136  Reward:  2373.6297601671818  CHF
Timestep:  137  Reward:  3060.893144199016  CHF
Timestep:  138  Reward:  1666.2538956859335  CHF
Timestep:  139  Reward:  3492.6934405983243  CHF
Timestep:  140  Reward:  2214.953153748915  CHF
Timestep:  141  Reward:  2225.078615062241  CHF
Timestep:  142  Reward:  1740.0043577936403  CHF
Timestep:  143  Reward:  2750.41855904205  CHF
Timestep:  144  Reward:  2208.1017191814894  CHF
Timestep:  145  Reward:  1898.1627991972503  CHF
Timestep:  146  Reward:  1735.590957815462  CHF
Timestep:  147  Reward:  2685.2606009866468  CHF
Timestep:  148  Reward:  1515.1421582145322  CHF
Timestep:  149  Reward:  2249.260449125354  CHF
Timestep:  150  Reward:  1700.4632927124028  CHF
Timestep:  151  Reward:  2339.0074921077694  CHF
Timestep:  152  Reward:  2069.399470825  CHF
Timestep:  153  Reward:  1910.9559658235985  CHF
Timestep:  154  Reward:  1011.3297796579706  CHF
Timestep:  155  Reward:  1722.148592030259  CHF
Timestep:  156  Reward:  959.1393912638058  CHF
Timestep:  157  Reward:  1472.0943627901274  CHF
Timestep:  158  Reward:  1341.0037351998344  CHF
Timestep:  159  Reward:  1562.8327091520828  CHF
Timestep:  160  Reward:  705.0160282582377  CHF
Timestep:  161  Reward:  1461.0567280859118  CHF
Timestep:  162  Reward:  536.5557034901318  CHF
Timestep:  163  Reward:  1025.3841088135234  CHF
Timestep:  164  Reward:  413.77489014382184  CHF
Timestep:  165  Reward:  926.8348496712468  CHF
Timestep:  166  Reward:  470.05385933530886  CHF
Timestep:  167  Reward:  731.7534373177064  CHF
Timestep:  168  Reward:  321.26295600937044  CHF
Timestep:  169  Reward:  1268.949680930904  CHF
Timestep:  170  Reward:  285.3259396911257  CHF
Timestep:  171  Reward:  911.810845557779  CHF
Timestep:  172  Reward:  167.9025680737532  CHF
Timestep:  173  Reward:  348.18306018545877  CHF
Timestep:  174  Reward:  352.6726030374718  CHF
Timestep:  175  Reward:  324.14968590614365  CHF
Timestep:  176  Reward:  385.60898276686817  CHF
Timestep:  177  Reward:  193.3770322280576  CHF
Timestep:  178  Reward:  959.9885055893963  CHF
Timestep:  179  Reward:  134.07663021797373  CHF
Timestep:  180  Reward:  347.28749023049386  CHF
Timestep:  181  Reward:  180.87804134726062  CHF
Timestep:  182  Reward:  19.47846783206188  CHF
Timestep:  183  Reward:  180.74331192148324  CHF
Timestep:  184  Reward:  215.59493878423797  CHF
Timestep:  185  Reward:  82.7096931502227  CHF
Timestep:  186  Reward:  80.35949084666305  CHF
Timestep:  187  Reward:  230.69393295283774  CHF
Timestep:  188  Reward:  198.9890426065651  CHF
Timestep:  189  Reward:  26.01369845965442  CHF
Timestep:  190  Reward:  -4.937796957085027  CHF
Reset environment to timestamp:  96
---------------------------------
| rollout/           |          |
|    ep_len_mean     | 95       |
|    ep_rew_mean     | 2.34e+04 |
| time/              |          |
|    fps             | 0        |
|    iterations      | 1        |
|    time_elapsed    | 227      |
|    total_timesteps | 190      |
---------------------------------

Total Episode Time:  282.2388472557068

In [13]:
# print network
model.policy

ActorCriticPolicy(
  (features_extractor): FlattenExtractor(
    (flatten): Flatten(start_dim=1, end_dim=-1)
  )
  (pi_features_extractor): FlattenExtractor(
    (flatten): Flatten(start_dim=1, end_dim=-1)
  )
  (vf_features_extractor): FlattenExtractor(
    (flatten): Flatten(start_dim=1, end_dim=-1)
  )
  (mlp_extractor): MlpExtractor(
    (policy_net): Sequential(
      (0): Linear(in_features=17682, out_features=64, bias=True)
      (1): Tanh()
      (2): Linear(in_features=64, out_features=64, bias=True)
      (3): Tanh()
    )
    (value_net): Sequential(
      (0): Linear(in_features=17682, out_features=64, bias=True)
      (1): Tanh()
      (2): Linear(in_features=64, out_features=64, bias=True)
      (3): Tanh()
    )
  )
  (action_net): Linear(in_features=64, out_features=13260, bias=True)
  (value_net): Linear(in_features=64, out_features=1, bias=True)
)